// rename this file to config.conf
// fill in the telegram bot api key
// fill in your admin id or id's (alwasy use multiple or end with ,0 )
// remove this and the above lines

[telegram]
#dev bot
dev_key:
#acc bot
acc_key:
#live bot
prod_key:

admin_ids: int_1,int_2,int_3

[entsoe]
key:

[twitter_dev]
# when 1 its on, 0 is off!
on: 1

# Consumer Keys
api_key:
api_key_secret:

client_key:
client_key_secret:
# Authentication Tokens
bearer_token:
access_token:
access_token_secret:

[twitter_prod]
# when 1 its on, 0 is off!
on: 1

# Consumer Keys
api_key:
api_key_secret:

client_key:
client_key_secret:
# Authentication Tokens
bearer_token:
access_token:
access_token_secret:
